* {
  box-sizing: border-box;
}

body {
  background: lightblue;
  color: blue;
  line-height: 1.6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 1em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding: 1em;
  display: block;
}

ul {
  list-style: none;
  padding: 0%;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(90, 110, 50, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.company-info {
  background: lightcyan;
  text-align: center;
}

.brand {
  text-align: center;
}

.container span {
  color: lightseagreen;
}

.queue {
  background: whitesmoke;
  padding: 1em;
  display: block;
}

/* .queue button {
  /* display: block; */
/* width: auto; */
/* max-width: 200%; */
/* float: center; */
/* padding: 1em;
  background-color: lightcyan; */
/* border: 0; */
/* text-transform: uppercase; */
/* } */

.queue button {
  background-color: lightcyan;
  padding: 1em;
  text-align: center;
  min-width: 100%;
  float: center;
  border: 0;
}

.queue text-field {
  padding: 1em;
}

.button:hover {
  background: lightblue;
  color: white;
}

.queue input {
  width: 250px;
  scroll-padding-right: 10%;
}

.alert {
  background: blue;
  color: aliceblue;
  text-align: center;
  padding: 1ch;
  font-size: large;
  display: none;
}

/*Form Styles*/

.queue form {
  display: block;
  /* grid-template-columns: 0fr 0fr; */
  /* grid-gap: 22px; */
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 700px) {
  .queue form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .queue button {
    width: 200%;
  }
}
